<div class="mt-4">

    <form>
        <div class="form-group">
          <label for="search-input">từ khóa</label>
          <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa...">
           <input type="text" name="fullstack" class="form-control" id="search-input" placeholder="Nhập từ khóa Fullstack">
        </div>

      
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>